.section-10-05-how-we-work {
  .mod-margin-h2-wrapper {
    margin-bottom: 104px;

    @include for-lg-down {
      margin-bottom: 84px;
    }

    @include for-sm-down {
      margin-bottom: 60px;
    }
  }

  .stage-wrapper {
    display: flex;
    margin-bottom: 110px;

    @include for-sm-down {
      flex-direction: column;
      margin-bottom: 52px;
      position: relative;
    }
  }

  .caption-wrapper {
    display: flex;
    margin-right: 80px;
    width: 295px;
    justify-content: flex-end;
    flex: 0 0 295px;
    position: relative;

    @include for-lg-down {
      width: 253px;
      flex: 0 0 253px;
    }

    @include for-md-down {
      margin-right: 40px;
    }

    @include for-sm-down {
      flex-direction: row-reverse;
      margin-right: 0;
      width: auto;
      flex: auto;
      margin-bottom: 20px;
      position: static;
    }
  }

  .caption {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.15px;
  }

  .circle-marker {
    width: 15px;
    height: 15px;
    background: linear-gradient(266.92deg, #1FAAFF -10.92%, #6100FF 104.95%);
    border-radius: 100%;
    margin-top: 5px;
    margin-left: 40px;

    @include for-md-down {
      margin-left: 30px;
    }

    @include for-sm-down {
      width: 11px;
      height: 11px;
      margin-top: 9px;
      margin-left: 0;
      margin-right: 15px;
    }
  }

  .line {
    position: absolute;
    background-color: #4548ff;
    width: 1px;
    top: 0;
    bottom: -115px;
    right: 7px;

    &.mod-first-line {
      top: 5px;

      @include for-sm-down {
        top: 9px;
      }
    }

    &.mod-last-line {
      display: none;
    }

    @include for-sm-down {
      top: 0;
      bottom: -63px;
      right: auto;
      left: 5px;
    }
  }

  .list-wrapper {
    @include for-sm-down {
      margin-left: 21px;
    }
  }

  .value-wrapper {
    margin-bottom: 16px;
    position: relative;

    @include for-sm-down {
      margin-bottom: 12px;
    }
  }

  .value-number {
    position: absolute;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.15px;
    background: linear-gradient(268.39deg, #1FAAFF -10.92%, #6100FF 104.95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 2px;
    left: 0;

    @include for-sm-down {
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.5px;
      top: 0;
    }

    &.mod-one-digit {
      left: 6px;
    }
  }

  .value {
    padding-left: 40px;

    @include for-sm-down {
      padding-left: 28px;
    }
  }
}