<section class="section-10-05-how-we-work" id="section-10-05-how-we-work">
  <div class="gl-page-content">
    <div class="gl-main-section">

      <div class="gl-h2-wrapper mod-margin-h2-wrapper">
        <div class="gl-h2-number gl-number-gradient-color gl-gotham-fonts">05</div>
        <h2 class="gl-gotham-fonts">Как мы работаем?</h2>
      </div>

      <div class="stages-wrapper">
        <div class="stage-wrapper">
          <div class="caption-wrapper">
            <div class="caption gl-text-size xs-18">Подготовка</div>
            <div class="circle-marker"></div>
            <div class="line mod-first-line"></div>
          </div>
          <ol class="list-wrapper">
            <li class="value-wrapper">
              <div class="value-number mod-one-digit gl-text-size xs-18">1</div>
              <div class="value gl-text-size fl-18 xs-14">Первичный сбор требований</div>
            </li>
            <li class="value-wrapper">
              <div class="value-number mod-one-digit gl-text-size xs-18">2</div>
              <div class="value gl-text-size fl-18 xs-14">Определение цели проекта, приоритетов</div>
            </li>
            <li class="value-wrapper">
              <div class="value-number mod-one-digit gl-text-size xs-18">3</div>
              <div class="value gl-text-size fl-18 xs-14">Составление видения</div>
            </li>
            <li class="value-wrapper">
              <div class="value-number mod-one-digit gl-text-size xs-18">4</div>
              <div class="value gl-text-size fl-18 xs-14">Коммерческое предложение</div>
            </li>
          </ol>
        </div>

        <div class="stage-wrapper">
          <div class="caption-wrapper">
            <div class="caption gl-text-size xs-18">Подписание</div>
            <div class="circle-marker"></div>
            <div class="line"></div>
          </div>
          <ol class="list-wrapper">
            <li class="value-wrapper">
              <div class="value-number mod-one-digit gl-text-size xs-18">5</div>
              <div class="value gl-text-size fl-18 xs-14">Составление технического задания</div>
            </li>
            <li class="value-wrapper">
              <div class="value-number mod-one-digit gl-text-size xs-18">6</div>
              <div class="value gl-text-size fl-18 xs-14">Составление календарного плана работ</div>
            </li>
            <li class="value-wrapper">
              <div class="value-number mod-one-digit gl-text-size xs-18">7</div>
              <div class="value gl-text-size fl-18 xs-14">Подписание договора</div>
            </li>
          </ol>
        </div>

        <div class="stage-wrapper">
          <div class="caption-wrapper">
            <div class="caption gl-text-size xs-18">Разработка</div>
            <div class="circle-marker"></div>
            <div class="line"></div>
          </div>
          <ol class="list-wrapper">
            <li class="value-wrapper">
              <div class="value-number mod-one-digit gl-text-size xs-18">8</div>
              <div class="value gl-text-size fl-18 xs-14">Концепт дизайна</div>
            </li>
            <li class="value-wrapper">
              <div class="value-number mod-one-digit gl-text-size xs-18">9</div>
              <div class="value gl-text-size fl-18 xs-14">Промежуточный контроль, отчеты раз в неделю и демо раз в месяц</div>
            </li>
            <li class="value-wrapper">
              <div class="value-number gl-text-size xs-18">10</div>
              <div class="value gl-text-size fl-18 xs-14">Запуск проекта</div>
            </li>
            <li class="value-wrapper">
              <div class="value-number gl-text-size xs-18">11</div>
              <div class="value gl-text-size fl-18 xs-14">Поддержка и доработка</div>
            </li>
            <li class="value-wrapper">
              <div class="value-number gl-text-size xs-18">12</div>
              <div class="value gl-text-size fl-18 xs-14">Сдача/приемка</div>
            </li>
          </ol>
        </div>

        <div class="stage-wrapper">
          <div class="caption-wrapper">
            <div class="caption gl-text-size xs-18">Запуск и поддержка</div>
            <div class="circle-marker"></div>
            <div class="line mod-last-line"></div>
          </div>
          <ol class="list-wrapper">
            <li class="value-wrapper">
              <div class="value-number gl-text-size xs-18">13</div>
              <div class="value gl-text-size fl-18 xs-14">Запуск проекта</div>
            </li>
            <li class="value-wrapper">
              <div class="value-number gl-text-size xs-18">14</div>
              <div class="value gl-text-size fl-18 xs-14">Сбор первичной обратной связи</div>
            </li>
            <li class="value-wrapper">
              <div class="value-number gl-text-size xs-18">15</div>
              <div class="value gl-text-size fl-18 xs-14">Составление списка будущих гипотез</div>
            </li>
            <li class="value-wrapper">
              <div class="value-number gl-text-size xs-18">16</div>
              <div class="value gl-text-size fl-18 xs-14">Улучшение продукта</div>
            </li>
            <li class="value-wrapper">
              <div class="value-number gl-text-size xs-18">17</div>
              <div class="value gl-text-size fl-18 xs-14">Поддержка</div>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>