.section-8-03-for-whom-we-were-useful {
  .main-section {
    padding-top: 100px;
    padding-bottom: 110px;

    @include for-lg-down {
      padding-top: 70px;
      padding-bottom: 92px;
    }

    @include for-xs-down {
      padding-top: 60px;
      padding-bottom: 42px;
    }
  }

  .mod-h2-wrapper {
    margin-bottom: 62px;

    @include for-lg-down {
      margin-bottom: 76px;
    }

    @include for-xs-down {
      margin-bottom: 54px;
    }
  }

  .companies-wrapper {
    margin-bottom: 74px;

    @include for-sm-down {
      margin-bottom: 57px;
    }

    @include for-xxs-down {
      margin-bottom: 44px;
    }
  }

  .leroy-wrapper {
    padding-top: 89px;
    padding-bottom: 120px; // 130px. 10px "ушли" в расширение кнопки снизу
    background: #e7f5fe;
    position: relative;
    overflow: hidden;

    @include for-lg-down {
      padding-top: 69px;
      padding-bottom: 134px; // 144px
    }

    @include for-xs-down {
      padding-top: 60px;
    }
  }

  .company-content {
    display: flex;
    justify-content: space-between;

    &.column {
      @include for-md-down {
        flex-direction: column;
      }
    }

    &.column-revers {
      @include for-md-down {
        flex-direction: column-reverse;
      }
    }
  }

  .leroy-marker-wrapper {
    max-width: 622px;
    margin-top: 46px;

    @include for-lg-down {
      max-width: 502px;
      margin-top: 56px;
    }

    @include for-md-down {
      margin-top: 0;
    }

    @include for-sm-down {
      max-width: none;
    }
  }

  .subtitle {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 30px;

    &.mod-subtitle-abm {
      margin-bottom: 20px;

      @include for-sm-down {
        margin-bottom: 10px;
      }
    }

    @include for-lg-down {
      margin-bottom: 20px;
    }

    @include for-sm-down {
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0.5px;
    }
  }

  .text-wrapper {
    margin-bottom: 50px; // 60px по макету, но высоту кнопки увеличила на 20px (10 сверху)

    @include for-lg-down {
      margin-bottom: 30px; // 40px по макету
    }
  }

  .caption {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.15px;
    margin-bottom: 16px;

    &.mod-caption-margin-leroy {
      margin-bottom: 4px;

      @include for-lg-down {
        margin-bottom: 10px;
      }

      @include for-sm-down {
        font-size: 14px;
        line-height: 24px;
      }
    }

    &.mod-caption-margin-abm {
      margin-bottom: 10px;
    }
  }

  .value {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;

    @include for-sm-down {
      font-size: 14px;
      line-height: 24px;
    }
  }

  .image-arrow {
    width: 40px;

    @include for-xs-down {
      width: 30px;
    }
  }

  .leroy-logo {
    height: 92px;

    @include for-md-down {
      height: 34px;
      margin-bottom: 40px;
    }

    @include for-xs-down {
      height: 34px;
    }
  }

  .leroy-image {
    position: absolute;
    height: 268px;
    bottom: -1px;
    right: 0;

    @include for-lg-down {
      height: 215px;
    }

    @include for-sm-down {
      width: 100%;
      height: auto;
    }

    @include for-xxs-down {
      width: 423px;
      right: -50px;
    }
  }

  .mod-background-white {
    background-color: #ffffff;
  }

  .mod-color-white {
    color: #ffffff;
  }

  .abm-wrapper {
    padding-top: 50px;
    padding-bottom: 84px; // 94px. 10px "ушли" в расширение кнопки снизу
    background: linear-gradient(149.49deg, #1F63B8 -4.47%, #17AC88 96.45%);
    position: relative;
    overflow: hidden;

    @include for-md-down {
      padding-bottom: 396px; // 406px
    }

    @include for-sm-down {
      padding-top: 60px;
      padding-bottom: 310px; // 320px
    }
  }

  .abm-marker-wrapper {
    max-width: 558px;
    margin-top: 46px;

    @include for-lg-down {
      max-width: 389px;
      margin-top: 16px;
    }

    @include for-md-down {
      max-width: none;
      margin-top: 0;
    }
  }

  .abm-logo {
    height: 28px;

    @include for-md-down {
      margin-bottom: 40px;
    }
  }

  .abm-image-wrapper {
    display: flex;
    justify-content: center;
  }

  .abm-image {
    position: absolute;
    height: 414px;
    left: 170px;
    bottom: 30px;

    @include for-fl-down {
      left: 100px;
    }

    @include for-hg-down {
      height: 398px;
      left: 0;
    }

    @include for-lg-down {
      left: -56px;
      bottom: 0;
    }

    @include for-md-down {
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
    }

    @include for-sm-down {
      height: 292px;
    }
  }

  .bon-ration-wrapper {
    padding-top: 56px;
    padding-bottom: 140px; // 150px. 10px "ушли" в расширение кнопки снизу
    position: relative;
    overflow: hidden;

    @include for-lg-down {
      padding-top: 100px;
      padding-bottom: 148px; // 158px
    }

    @include for-md-down {
      padding-bottom: 250px;
    }

    @include for-xs-down {
      padding-top: 60px;
    }

    @include for-xxs-down {
      padding-bottom: 300px; // 310px
    }
  }

  .bon-ration-marker-wrapper {
    max-width: 558px;
    margin-top: 94px;

    @include for-lg-down {
      max-width: 438px;
      margin-top: 60px;
    }

    @include for-md-down {
      max-width: none;
      margin-top: 0;
    }
  }

  .bon-ration-logo {
    height: 30px;

    @include for-md-down {
      height: 26px;
      margin-bottom: 40px;
    }
  }

  .bon-ration-image {
    position: absolute;
    height: 545px;
    right: 110px;
    bottom: -118px;

    @include for-fl-down {
      right: -98px;
    }

    @include for-hg-down {
      height: 452px;
      right: -118px;
      bottom: -92px;
    }

    @include for-md-down {
      height: 382px;
    }

    @include for-xs-down {
      height: 312px;
      right: -84px;
      bottom: -66px;
    }
  }

  .video-counter-wrapper {
    padding-top: 126px;
    padding-bottom: 116px; // 126px по макету. 10px "ушли" в расширение кнопки снизу
    background-color: #e7f5fe;
    position: relative;
    overflow: hidden;

    @include for-lg-down {
      padding-top: 120px;
      padding-bottom: 110px; // 120px
    }

    @include for-md-down {
      padding-top: 60px;
      padding-bottom: 354px;
    }

    @include for-xs-down {
      padding-bottom: 260px; // 270px
    }
  }

  .video-counter-marker-wrapper {
    max-width: 556px;

    @include for-lg-down {
      max-width: 396px;
    }

    @include for-md-down {
      max-width: none;
    }
  }

  .video-count-image {
    position: absolute;
    height: 386px;
    bottom: 0;
    left: 180px;

    @include for-fl-down {
      left: 0;
    }

    @include for-hg-down {
      height: 350px;
      left: -92px;
    }

    @include for-lg-down {
      height: 330px;
    }

    @include for-md-down {
      left: auto;
      right: 40px;
    }

    @include for-xs-down {
      height: 196px;
      right: 20px;
    }

    @include for-xxs-down {
      right: auto;
      left: 0;
    }
  }

  .videorobot-wrapper {
    padding-top: 46px;
    padding-bottom: 78px; // 88px по макету. 10px "ушли" в расширение кнопки снизу
    background: linear-gradient(272.65deg, #1FAAFF -7.49%, #0066FF 93.63%);
    position: relative;
    overflow: hidden;

    @include for-md-down {
      padding-top: 60px;
      padding-bottom: 300px;
    }
  }

  .videorobot-marker-wrapper {
    max-width: 558px;
    margin-top: 42px;

    @include for-lg-down {
      max-width: 406px;
    }

    @include for-md-down {
      max-width: none;
    }
  }

  .video-robot-logo {
    height: 58px;
    transform: translateX(-422px);

    @include for-hg-down {
      height: 70px;
      transform: translateX(-250px);
    }

    @include for-lg-down {
      height: 70px;
      transform: translateX(-198px);
    }

    @include for-md-down {
      transform: translateX(0);
    }
  }

  .video-robot-image {
    position: absolute;
    height: 468px;
    right: 230px;
    bottom: 18px;

    @include for-fl-down {
      right: 80px;
    }

    @include for-hg-down {
      height: 450px;
      right: -55px;
      bottom: 12px;
    }

    @include for-md-down {
      height: 350px; // примерно
      right: 30px;
      bottom: 0;
    }

    @include for-md-down {
      right: 0;
    }

    @include for-xs-down {
      height: 323px;
      right: -30px;
    }

    @include for-xxs-down {
      right: -66px;
      bottom: 0;
    }
  }

  .btn-wrapper {
    @include for-sm-down {
      display: flex;
      justify-content: center;
    }
  }
}