<section class="section-8-03-for-whom-we-were-useful" id="section-8-03-for-whom-we-were-useful">
  <div class="main-section">

    <div class="gl-page-content">
      <div class="gl-h2-wrapper mod-h2-wrapper">
        <span class="gl-h2-number gl-number-gradient-color gl-gotham-fonts">03</span>
        <h2 class="gl-gotham-fonts">Для кого мы были полезны</h2>
      </div>
    </div>

    <div class="companies-wrapper">
      <div class="leroy-wrapper">
        <div class="gl-page-content">
          <div class="company-content column-revers">
            <div class="gl-marker-wrapper leroy-marker-wrapper">
              <div class="gl-marker gl-lg-hide"></div>
              <div class="marker-content-wrapper">
                <div class="subtitle">Леруа Мерлен. Фабрика идей</div>
                <div class="text-wrapper">
                  <div class="caption mod-caption-margin-leroy">
                    Сервис для проекта мастерской LeroyMerlin
                  </div>
                  <div class="value">
                    IT-инфраструктура для управления творческой мастерской Леруа Мерлен “Фабрика Идей”, которая включает
                    в себя как клиентские сервисы, так и систему управления бизнесом для администраторов и мастеров
                    пространства
                  </div>
                </div>

                <button class="gl-btn-without-background">
                  <span class="gl-btn-text">посмотреть</span>
                  <img class="image-arrow"
                       src="assets/icons/section-8-03-for-whom-we-were-useful/arrow.svg" alt="arrow">
                </button>
              </div>
            </div>

            <div class="logo-wrapper">
              <img class="leroy-logo gl-md-hide" src="assets/icons/section-8-03-for-whom-we-were-useful/leroy.svg"
                   alt="leroy-icon">
              <img class="leroy-logo gl-md-show" src="assets/icons/section-8-03-for-whom-we-were-useful/leroy-xs.svg"
                   alt="leroy-icon">
            </div>
          </div>
        </div>
        <img class="leroy-image" src="assets/images/section-8-03-for-whom-we-were-useful/leroy.png"
             alt="leroy-image">
      </div>

      <div class="abm-wrapper">
        <div class="gl-page-content">
          <div class="company-content column">
            <div class="logo-wrapper">
              <img class="abm-logo gl-md-hide" src="assets/icons/section-8-03-for-whom-we-were-useful/abm.svg"
                   alt="abm">
              <img class="abm-logo gl-md-show" src="assets/icons/section-8-03-for-whom-we-were-useful/abm-xs.svg"
                   alt="abm">
            </div>

            <div class="gl-marker-wrapper abm-marker-wrapper">
              <div class="gl-marker gl-lg-hide mod-background-white"></div>
              <div class="marker-content-wrapper">
                <div class="subtitle mod-subtitle-abm mod-color-white">АкБарс-Мед</div>
                <div class="text-wrapper">
                  <div class="caption mod-caption-margin-abm mod-color-white">
                    Комплекс приложений для компаний страховой компании “Ак Барс Мед” и медицинской “Ак Барс Медицина”
                  </div>
                  <div class="value mod-color-white">
                    Комплекс приложений для оказания страховых и медицинских услуг в онлайне: запись на получение ОМС,
                    онлайн медкарта, телемедицинские врачебные консультации, добровольное медицинское страхование — все
                    это в приложении и личных кабинетах, которые 100% связаны с бизнес процессами компании
                  </div>
                </div>

                <button class="gl-btn-without-background">
                  <span class="gl-btn-text mod-color-white">посмотреть</span>
                  <img class="image-arrow"
                       src="assets/icons/section-8-03-for-whom-we-were-useful/arrow-white.svg" alt="arrow">
                </button>
              </div>
            </div>
          </div>

          <img class="abm-image" src="assets/images/section-8-03-for-whom-we-were-useful/abm.png"
               alt="amb-image">
        </div>
      </div>

      <div class="bon-ration-wrapper">
        <div class="gl-page-content">
          <div class="company-content column-revers">
            <div class="gl-marker-wrapper bon-ration-marker-wrapper">
              <div class="gl-marker gl-lg-hide"></div>
              <div class="marker-content-wrapper">
                <div class="subtitle">Bon Ration</div>
                <div class="text-wrapper">
                  <div class="caption">
                    Агрегатор доставщиков здорового питания
                  </div>
                  <div class="value">
                    BonRation — первый в мире агрегатор доставщиков здорового питания. Комплекс из приложений,
                    веб-сервиса и панелей управления для доставщиков
                  </div>
                </div>

                <button class="gl-btn-without-background">
                  <span class="gl-btn-text">посмотреть</span>
                  <img class="image-arrow"
                       src="assets/icons/section-8-03-for-whom-we-were-useful/arrow.svg" alt="arrow">
                </button>
              </div>
            </div>

            <div class="logo-wrapper">
              <img class="bon-ration-logo"
                   src="assets/icons/section-8-03-for-whom-we-were-useful/bon-ration.svg"
                   alt="bon-ration-icon">
            </div>
          </div>
        </div>

        <img class="bon-ration-image" src="assets/images/section-8-03-for-whom-we-were-useful/bon-ration.png"
             alt="bon-ration-image">
      </div>

      <div class="video-counter-wrapper">
        <div class="gl-page-content">
          <div class="company-content">
            <div class="logo-wrapper"></div>

            <div class="gl-marker-wrapper video-counter-marker-wrapper">
              <div class="gl-marker gl-lg-hide"></div>
              <div class="marker-content-wrapper">
                <div class="subtitle">Видеосчетчик</div>
                <div class="text-wrapper">
                  <div class="caption">
                    Учет товаров и брака на предприятии с помощью компьютерного зрения
                  </div>
                  <div class="value">
                    Система видеофиксации продукции на предприятии, которая основана на компьютерном зрении, нейросетях.
                    Система позволяет учитывать продукцию и процент брака, производит видеофиксацию нарушений
                  </div>
                </div>

                <button class="gl-btn-without-background">
                  <span class="gl-btn-text">посмотреть</span>
                  <img class="image-arrow"
                       src="assets/icons/section-8-03-for-whom-we-were-useful/arrow.svg" alt="arrow">
                </button>
              </div>
            </div>
          </div>
        </div>

        <img class="video-count-image gl-xxs-hide"
             src="assets/images/section-8-03-for-whom-we-were-useful/video-count-full.png" alt="amb-image">
        <img class="video-count-image gl-xxs-show"
             src="assets/images/section-8-03-for-whom-we-were-useful/video-count-cut.png" alt="amb-image">
      </div>

      <div class="videorobot-wrapper">
        <div class="gl-page-content">
          <div class="company-content column-revers">
            <div class="gl-marker-wrapper videorobot-marker-wrapper">
              <div class="gl-marker gl-lg-hide mod-background-white"></div>
              <div class="marker-content-wrapper">
                <div class="subtitle mod-color-white">Videorobot</div>
                <div class="text-wrapper">
                  <div class="caption mod-color-white">
                    Система дебрифинга студентов для медицинских симуляционных центров
                  </div>
                  <div class="value mod-color-white">
                    Комплекс веб-сервисов Videorobot позволяет провести аккредитацию студентов-медиков в симуляционных
                    центрах, фиксирует процесс прохождения экзамена, фиксирует показания с симуляционного оборудования.
                    Глубокая работа с видеопотоками позволяет экзаменаторам управлять процессом аккредитации практически
                    из любой точки мира
                  </div>
                </div>

                <button class="gl-btn-without-background">
                  <span class="gl-btn-text mod-color-white">посмотреть</span>
                  <img class="image-arrow"
                       src="assets/icons/section-8-03-for-whom-we-were-useful/arrow-white.svg"
                       alt="arrow">
                </button>
              </div>
            </div>

            <div class="logo-wrapper">
              <img class="video-robot-logo" src="assets/icons/section-8-03-for-whom-we-were-useful/video-robot.svg"
                   alt="video-robot-icon">
            </div>
          </div>
        </div>

        <img class="video-robot-image" src="assets/images/section-8-03-for-whom-we-were-useful/video-robot.png"
             alt="video-robot-image">
      </div>
    </div>

    <div class="gl-page-content">
      <div class="btn-wrapper">
        <button class="gl-btn-gradient-border">
                <span class="gl-btn-background-white">
                    <span class="gl-btn-color-gradient">больше проектов</span>
                </span>
        </button>
      </div>
    </div>
  </div>
</section>
