.section-4-insert {
  background: linear-gradient(238.56deg, #1FAAFF -10.92%, #6100FF 104.95%);

  .section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;

    @include for-md-down {
      flex-direction: column;
    }
  }

  .text {
    font-weight: 500;
    color: #ffffff;
    max-width: 760px;
    margin-right: 124px;

    @include for-md-down {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  .btn-wrapper {
    @include for-xxs-down {
      width: 100%;
    }
  }
}