<section class="section-4-insert" id="section-4-insert">
  <div class="gl-page-content">
    <div class="section">
      <div class="text gl-text-size fl-18 xs-16">
        Если большое и крутое решение сейчас не для вас, у вас стартап, а вам нужен MVP, то для вас есть специальное предложение
      </div>
      <div class="btn-wrapper">
        <button class="gl-btn-big-radius" type="button">
          <span class="gl-btn-big-radius-text gl-nowrap">у меня стартап</span>
        </button>
      </div>
    </div>
  </div>
</section>
