<div class="gl-page-content">
  <div class="section">
    <div class="gl-marker-wrapper mod-marker-wrapper">
      <div class="gl-marker mod-marker"></div>
      <h3 class="gl-gotham-fonts">Больше информации</h3>
    </div>

    <div class="items-wrapper">
      <div class="item">
        <div class="caption-wrapper">
          <div class="caption-num gl-number-gradient-color gl-gotham-fonts">01</div>
          <div class="caption">Бесплатно напишем техническое задание</div>
        </div>
        <div class="value gl-text-size fl-16">
          Нам важно понимать, с каким продуктом мы будем работать, поэтому мы готовы инвестировать в вас еще до старта
        </div>
      </div>
      <div class="item">
        <div class="caption-wrapper">
          <div class="caption-num gl-number-gradient-color gl-gotham-fonts">02</div>
          <div class="caption">Предоставляем гарантийную поддержку</div>
        </div>
        <div class="value gl-text-size fl-16">
          Ваш сайт будет работать, что бы ни случилось
        </div>
      </div>
      <div class="item">
        <div class="caption-wrapper">
          <div class="caption-num gl-number-gradient-color gl-gotham-fonts">03</div>
          <div class="caption">Являемся частью в вашей инфраструктуре</div>
        </div>
        <div class="value gl-text-size fl-16">
          Потому мы научились работать с другими командами, иначе целостного продукта не получить
        </div>
      </div>
      <div class="item">
        <div class="caption-wrapper">
          <div class="caption-num gl-number-gradient-color gl-gotham-fonts">04</div>
          <div class="caption">Вникаем во все детали</div>
        </div>
        <div class="value gl-text-size fl-16">
          Помните, нам важно не программировать, а решать вашу задачу, для этого мы вникаем во все детали проекта
        </div>
      </div>
      <div class="item">
        <div class="caption-wrapper">
          <div class="caption-num gl-number-gradient-color gl-gotham-fonts">05</div>
          <div class="caption">Мы ценим ваши деньги</div>
        </div>
        <div class="value gl-text-size fl-16">
          Если мы почувствуем, что фича малоиспользуемая и сомнительная, то мы обязательно вам это скажем, мы ценим ваши
          деньги. Для вас меньше бюджет, а мы еще быстрее запустим продукт на рынок
        </div>
      </div>
      <div class="item">
        <div class="caption-wrapper">
          <div class="caption-num gl-number-gradient-color gl-gotham-fonts">06</div>
          <div class="caption">Отчеты</div>
        </div>
        <div class="value gl-text-size fl-16">
          В процессе работы предоставляем конечный результат каждый месяц
        </div>
      </div>
    </div>
  </div>
</div>
