.section {
  padding-top: 120px;
  padding-bottom: 120px;

  @include for-lg-down {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.mod-marker-wrapper {
  align-items: center;
  margin-bottom: 50px;

  @include for-xs-down {
    margin-bottom: 30px;
  }
}

.mod-marker {
  margin-top: 0;
}

.items-wrapper {
  max-width: 1162px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid $lite-gray-border;

  @include for-sm-down {
    flex-direction: column;
    align-items: flex-start;
  }

  @include for-xs-down {
    padding: 20px 0;
  }
}

.caption-wrapper {
  display: flex;
  align-items: center;
  width: 582px;
  margin-right: 64px;

  @include for-sm-down {
    margin-right: 0;
  }

  @include for-sm-down {
    margin-bottom: 10px;
  }
}

.caption-num {
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.5px;
  margin-right: 20px;

  @include for-lg-down {
    font-size: 40px;
    line-height: 48px;
    margin-right: 10px;
  }

  @include for-sm-down {
    font-size: 32px;
    line-height: 38px;
    margin-right: 5px;
  }
}

.caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: .15px;

  @include for-lg-down {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: .5px;
  }

  @include for-sm-down {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .15px;
  }
}

.value {
  width: 448px;

  @include for-sm-down {
    margin-left: 42px;
  }
}