.section-7-large-info {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;

    @include for-lg-down {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }

  .mod-marker-wrapper {
    align-items: center;
    margin-bottom: 50px;

    @include for-xs-down {
      margin-bottom: 30px;
    }
  }

  .mod-marker {
    margin-top: 0;
  }

  .items-wrapper {
    max-width: 1162px;
  }

  .item {
    display: grid;
    grid-template-columns: auto auto 1fr;
    justify-items: end;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid $lite-gray-border;

    @include for-sm-down {
      grid-template-columns: auto 1fr;
      justify-items: start;
      padding: 20px 0;
    }

    @include for-xxs-down {
      align-items: start;
      grid-row-gap: 10px;
    }
  }

  .caption-num {
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.5px;
    margin-right: 20px;
    width: 68px;

    @include for-lg-down {
      font-size: 40px;
      line-height: 48px;
      margin-right: 10px;
      width: 58px;
    }

    @include for-xs-down {
      font-size: 32px;
      line-height: 38px;
      margin-right: 5px;
      width: 50px;
    }
  }

  .caption {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: .15px;
    margin-right: 64px;

    @include for-lg-down {
      max-width: 370px;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: .5px;
    }

    @include for-xs-down {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: .15px;
    }
  }

  .value {
    width: 448px;

    @include for-lg-down {
      width: 324px;
    }

    @include for-sm-down {
      width: auto;
    }
  }
}