<section class="section-88-footer" id="section-88-footer">
    <div class="gl-page-content">
        <div class="grid-content-wrapper">

            <div class="big-cell-wrapper lg-hide md-show">
                <div class="menu">
                    <a href="" class="menu-item">Портфолио</a>
                    <a href="" class="menu-item">Услуги</a>
                    <a href="" class="menu-item">Про нас</a>
                </div>
                <div class="languages gl-md-hide">
                    <button class="item-language active">Ru</button>
                    <button class="item-language">En</button>
                </div>
            </div>

            <div class="big-cell-wrapper">
                <div class="cell-wrapper">
                    <div class="cell-caption">Контакты</div>
                    <a href="tel:88432122072" class="cell-item cell-item-tel">+ 7 (843) 212-20-72</a>
                </div>
                <div class="cell-wrapper">
                    <div class="cell-caption">Mail</div>
                    <a href="mailto:sales@technaxis.com" class="cell-item">sales@technaxis.com</a>
                    <a href="mailto:info@technaxis.com" class="cell-item">info@technaxis.com</a>
                </div>
            </div>

            <div class="big-cell-wrapper">
                <div class="cell-wrapper">
                    <div class="cell-caption">Адрес</div>
                    <div class="cell-item">
                        420012, Россия,
                        <span class="gl-nowrap">г. Казань,</span>
                        <span class="gl-nowrap">ул. Некрасова,</span>
                        <span class="gl-nowrap">д. 21,</span>
                        <span class="gl-nowrap">офис 501</span>
                    </div>
                </div>
                <div class="presentation-wrapper gl-md-hide">
                    <a href="" class="cell-item presentation">Презентация</a>
                </div>
            </div>

            <div class="big-cell-wrapper">
                <div class="social-wrapper">
                    <a href="" class="image-social telegram"></a>
                    <a href="" class="image-social vk"></a>
                </div>
                <div class="company-wrapper">
                    <div class="company">© teсhnaxis, 2020</div>
                </div>
            </div>
        </div>
    </div>
</section>
