.section-88-footer {
  padding-top: 54px;
  padding-bottom: 48px;
  border-top: 1px solid $lite-gray-border;

  @include for-lg-down {
    padding-top: 40px;
    padding-bottom: 126px;
  }

  @include for-md-down {
    padding-bottom: 46px;
  }

  .grid-content-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include for-md-down {
      flex-direction: column;
    }
  }

  .big-cell-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 270px;

    @include for-md-down {
      max-width: none;
    }

    &.lg-hide {
      @include for-lg-down {
        display: none;
      }
    }

    &.md-show {
      @include for-md-down {
        display: block;
        margin-bottom: 40px;
      }
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 52px;

    @include for-md-down {
      margin-bottom: 0;
    }
  }

  .menu-item {
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.15px;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }

    @include for-sm-down {
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.5px;
    }
  }

  .languages {
    margin-bottom: 5px;
  }

  .item-language {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #828282;;
    transition: 300ms;
    border-bottom: 2px solid transparent;
    text-decoration: none;

    &:last-child {
      margin-left: 15px;
    }

    &.active {
      color: $main-text;
      border-bottom: 2px solid #000000;
    }
  }

  .cell-wrapper {

    margin-bottom: 40px;
    @include for-sm-down {
      margin-bottom: 30px;
    }
  }

  .cell-caption {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #828282;
    margin-bottom: 10px;

    @include for-sm-down {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.15px;
    }
  }

  .cell-item {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }

    &.presentation {
      padding-left: 35px;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        background-image: url("assets/icons/section-88-footer/presentation.svg");
        width: 20px;
        height: 24px;
        top: 0;
        left: 0;
      }

      @include for-sm-down {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
      }
    }

    &.cell-item-tel {
      text-decoration: none;
    }
  }

  .social-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include for-md-down {
      flex-direction: row;
      justify-content: flex-start;
      margin-bottom: 40px;
    }
  }

  .image-social {
    margin-bottom: 25px;

    @include for-md-down {
      margin-bottom: 0;
      margin-right: 66px;
    }

    &:last-child {
      margin-bottom: 0;

      @include for-md-down {
        margin-right: 0;
      }
    }

    &.telegram {
      background-image: url("assets/icons/section-88-footer/telegram.svg");
      width: 32px;
      height: 32px;
    }

    &.vk {
      background-image: url("assets/icons/section-88-footer/vk.svg");
      width: 32px;
      height: 32px;
    }
  }

  .company {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #828282;

    @include for-sm-down {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.15px;
    }
  }
}
