.gl-color-secondary-text {
  color: $secondary-text;
}

.gl-background-gradient {
  background: $main-gradient;
}

.gl-number-gradient-color {
  background: $number-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.1;
}