$main-text: #000000;
$secondary-text: #FFFFFF;
$main-gradient: linear-gradient(251.43deg, #1FAAFF -10.92%, #6100FF 104.95%);
$number-gradient: linear-gradient(267.06deg, #1FAAFF -10.92%, #6100FF 104.95%);
$lite-gray-border: #e7e7e7;

$page-content-padding-fl: 100px;
$page-content-padding-bg-down: 50px;
$page-content-padding-md-down: 30px;
$page-content-padding-sm-down: 24px;
$page-content-padding-xs-down: 20px;
$max-width-content: 1200px + $page-content-padding-fl * 2;
