.gl-page-content {
  padding-left: $page-content-padding-fl;
  padding-right: $page-content-padding-fl;
  max-width: $max-width-content;
  margin: 0 auto;

  @include for-bg-down {
    padding-left: $page-content-padding-bg-down;
    padding-right: $page-content-padding-bg-down;
  }

  @include for-md-down {
    padding-left: $page-content-padding-md-down;
    padding-right: $page-content-padding-md-down;
  }

  @include for-sm-down {
    padding-left: $page-content-padding-sm-down;
    padding-right: $page-content-padding-sm-down;
  }

  @include for-xs-down {
    padding-left: $page-content-padding-xs-down;
    padding-right: $page-content-padding-xs-down;
  }
}

.gl-main-section {
  padding-top: 100px;
  padding-bottom: 100px;

  @include for-fl-down {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include for-md-down {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  @include for-xs-down {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

h1 {
  font-weight: bold;
  font-size: 70px;
  line-height: 84px;
  letter-spacing: -0.5px;
  margin-bottom: 74px;

  @include for-lg-down {
    font-size: 48px;
    line-height: 62px;
  }

  @include for-sm-down {
    font-size: 34px;
    line-height: 48px;
    margin-bottom: 50px;
  }
}

.gl-h2-wrapper {
  margin-bottom: 44px;
  position: relative;

  @include for-xs-down {
    transform: translateX(-31px);
    margin-bottom: 40px;
  }

  h2 {
    font-weight: 500;
    font-size: 44px;
    line-height: 54px;
    letter-spacing: -0.5px;
    padding-top: 56px;
    padding-left: 118px ;

    @include for-lg-down {
      font-size: 46px;
      line-height: 54px;
    }

    @include for-sm-down {
      font-size: 30px;
      line-height: 36px;
      padding-top: 38px;
      padding-left: 65px;
    }
  }

  .gl-h2-number {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 96px;
    line-height: 116px;
    letter-spacing: -0.5px;

    @include for-sm-down {
      font-size: 64px;
      line-height: 77px;
    }
  }
}

h3 {
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: -0.5px;

  @include for-sm-down {
    font-size: 22px;
    line-height: 26px;
  }
}

.gl-gotham-fonts {
  font-family: 'Gotham', sans-serif;
}

.gl-nowrap {
  white-space: nowrap;
}

.gl-marker-wrapper {
  display: flex;
}

.gl-marker {
  min-width: 70px;
  height: 2px;
  margin-top: 14px;
  margin-right: 48px;
  background-color: #000000;

  @include for-sm-down {
    min-width: 40px;
    margin-right: 30px;

  }

  @include for-xs-down {
    min-width: 20px;
    margin-top: 10px;
    margin-right: 16px;
  }
}

.gl-link {
  color: #4f2dff;

  &:visited {
    color: #4f2dff;
  }
}
