.gl-main-btn {
  width: 294px;
  height: 48px;
  background: $main-gradient;
  color: $secondary-text;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.75px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
  display: flex;
  align-items: center;

  @include for-md-down {
    width: 246px;
    height: 40px;
  }
}

.gl-btn-big-radius{
  height: 52px;
  padding: 0 66px;
  border-radius: 100px;
  background-color: #fff;

  @include for-lg-down {

  }

  @include for-bg-down {
    padding: 0 40px;
  }

  @include for-xs-down {
    height: 42px;
  }

  @include for-xxs-down {
    width: 100%;
    padding: 0;
  }
}

.gl-btn-big-radius-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  background: $main-gradient; /* Градиент для текста */
  -webkit-background-clip: text; /* Обрезаем фон по тексту */
  -webkit-text-fill-color: transparent; /* Прозрачный текст */
}

.gl-btn-without-background {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
  height: 36px;

  @include for-xs-down {
    width: 150px;
  }

  .gl-btn-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    background: $main-gradient; /* Градиент для текста */
    -webkit-background-clip: text; /* Обрезаем фон по тексту */
    -webkit-text-fill-color: transparent; /* Прозрачный текст */

    &.mod-color-white {
      color: #ffffff;
      background: none;
      -webkit-text-fill-color: #ffffff; /* Прозрачный текст */
    }
  }
}

.gl-btn-gradient-border {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  background: $main-gradient;
  border-radius: 100px;
  display: inline-block;
  padding: 1px;

  @include for-xxs-down {
    width: 100%;
  }

  .gl-btn-background-white {
    background: #fff;
    display: flex;
    width: 274px;
    justify-content: center;
    padding: 18px 4px;
    border-radius: 100px;

    @include for-xxs-down {
      padding: 15px 0;
      width: 100%;
    }
  }

  .gl-btn-color-gradient {
    background: $main-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
