html, body {
  background-repeat: no-repeat;
  color: $main-text;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  font-family: 'Roboto', sans-serif;
  outline: none;
  box-sizing: border-box;
  background-repeat: no-repeat;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, input, textarea, blockquote {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  list-style: none;
}

body {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  &:not(.no-underline):hover {
    @include for-bg-up {
      text-decoration: underline;
    }
  }

  &:visited {
    color: inherit;
  }
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, td img {
  vertical-align: top;
}

input, select, button, textarea {
  margin: 0;
  outline: none;
  border: 0;
}

input[type='checkbox'] {
  vertical-align: bottom;
}

input[type='radio'] {
  width: auto;
}

input[type='text'], input[type='email'], input[type='phone'] {
  text-overflow: ellipsis;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}
