$full: 1600px;
$huge: 1440px;
$large: 1160px;
$big: 1024px;
$middle: 960px;
$small: 760px;
$xs: 590px;
$xxs: 360px;

//full
@mixin for-fl-up {
  @media screen and (min-width: $full) {
    @content;
  }
}

@mixin for-fl-down {
  @media screen and (max-width: $full - 1) {
    @content;
  }
}

//huge
@mixin for-hg-up {
  @media screen and (min-width: $huge) {
    @content;
  }
}

@mixin for-hg-down {
  @media screen and (max-width: $huge - 1) {
    @content;
  }
}

//large
@mixin for-lg-up {
  @media screen and (min-width: $large) {
    @content;
  }
}

@mixin for-lg-down {
  @media screen and (max-width: $large - 1) {
    @content;
  }
}

//big
@mixin for-bg-up {
  @media screen and (min-width: $big) {
    @content;
  }
}

@mixin for-bg-down {
  @media screen and (max-width: $big - 1) {
    @content;
  }
}


//middle
@mixin for-md-up {
  @media screen and (min-width: $middle) {
    @content;
  }
}

@mixin for-md-down {
  @media screen and (max-width: $middle - 1) {
    @content;
  }
}

//small
@mixin for-sm-up {
  @media screen and (min-width: $small) {
    @content;
  }
}

@mixin for-sm-down {
  @media screen and (max-width: $small - 1) {
    @content;
  }
}

//xs
@mixin for-xs-up {
  @media screen and (min-width: $xs) {
    @content;
  }
}

@mixin for-xs-down {
  @media screen and (max-width: $xs - 1) {
    @content;
  }
}

//xxs
@mixin for-xxs-up {
  @media screen and (min-width: $xxs) {
    @content;
  }
}

@mixin for-xxs-down {
  @media screen and (max-width: $xxs - 1) {
    @content;
  }
}

.gl-fl-show {
  @include for-fl-up {
    display: none !important;
  }
}

.gl-fl-hide {
  @include for-fl-down {
    display: none !important;
  }
}

.gl-hg-show {
  @include for-hg-up {
    display: none !important;
  }
}

.gl-hg-hide {
  @include for-hg-down {
    display: none !important;
  }
}

.gl-lg-show {
  @include for-lg-up {
    display: none !important;
  }
}

.gl-lg-hide {
  @include for-lg-down {
    display: none !important;
  }
}

.gl-bg-show {
  @include for-bg-up {
    display: none !important;
  }
}

.gl-bg-hide {
  @include for-bg-down {
    display: none !important;
  }
}

.gl-md-show {
  @include for-md-up {
    display: none !important;
  }
}

.gl-md-hide {
  @include for-md-down {
    display: none !important;
  }
}

.gl-sm-show {
  @include for-sm-up {
    display: none !important;
  }
}

.gl-sm-hide {
  @include for-sm-down {
    display: none !important;
  }
}

.gl-xs-show {
  @include for-xs-up {
    display: none !important;
  }
}

.gl-xs-hide {
  @include for-xs-down {
    display: none !important;
  }
}

.gl-xxs-show {
  @include for-xxs-up {
    display: none !important;
  }
}

.gl-xxs-hide {
  @include for-xxs-down {
    display: none !important;
  }
}

