.gl-text-size {
  &.fl-24 {
    font-size: 24px;
    line-height: 28px;
  }

  &.fl-22 {
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.5px;
  }

  &.fl-20 {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: .15px;
  }

  &.fl-18 {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: .5px;
  }

  &.fl-16 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .15px;
  }

  &.fl-12 {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.5px;
  }


  &.lg-18 {
    @include for-lg-down {
      font-size: 18px;
      line-height: 28px;
      letter-spacing: .5px;
    }
  }


  &.xs-18 {
    @include for-xs-down {
      font-size: 18px;
      line-height: 28px;
      letter-spacing: .5px;
    }
  }

  &.xs-16 {
    @include for-xs-down {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: .15px;
    }
  }

  &.xs-14 {
    @include for-xs-down {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &.xs-10 {
    @include for-xs-down {
      font-size: 10px;
      line-height: 16px;
      letter-spacing: 1.5px;
    }
  }
}