<section class="section-3-01-services" id="section-3-01-services">
  <div class="gl-page-content">
    <div class="gl-main-section">
      <div class="gl-h2-wrapper">
        <span class="gl-h2-number gl-number-gradient-color gl-gotham-fonts">01</span>
        <h2 class="gl-gotham-fonts h2-mod-padding">Услуги</h2>
      </div>

      <div class="content">
        <div class="gl-marker-wrapper">
          <div class="gl-marker"></div>
          <div class="gl-text-size fl-18 xs-14">
            Мы — технологичная компания. В нашем арсенале много инструментов для решения бизнес-задач клиентов. Мы можем
            провести и <a href="" class="gl-link">исследование для создания MVP</a>, и продумать решение с добавлением
            hardware, машинного обучения или компьютерного зрения.
          </div>
        </div>

        <div class="grid-wrapper">
          <div class="cell-wrapper">
            <img class="cell-image" src="assets/icons/section-3-01-services/web-services.svg"
                 alt="web-service">
            <div class="cell-caption">Веб сервисы</div>
            <div class="cell-value">
              Java, Spring Framework, Hibernate, PostgreSQL, Mongo, RabbitMQ, Docker, Ansible, Swagger;
            </div>
            <div class="cell-value">
              Angular/React, HTML5, WebRTC, Typescript
            </div>
          </div>
          <div class="cell-wrapper">
            <img class="cell-image" src="assets/icons/section-3-01-services/mobile-application.svg"
                 alt="mobile-application">
            <div class="cell-caption">Мобильные приложения</div>
            <div class="cell-value">
              Swift, Objective-C, Alamofire, Swagger-Codegen, PromiseKit, CoreData;
            </div>
            <div class="cell-value">
              Android, JavaRx, Robolectric, Firebase Analytics, Realm, Dagger
            </div>
          </div>
          <div class="cell-wrapper">
            <img class="cell-image" src="assets/icons/section-3-01-services/R&D, MVP.svg" alt="R&D, MVP">
            <div class="cell-caption">R&D, MVP</div>
            <div class="cell-value">
              Minimum Viable Product, unit-экономика, конкуренты, рынок, CustDev, LTV, CAC, Retention
            </div>
          </div>
          <div class="cell-wrapper">
            <img class="cell-image" src="assets/icons/section-3-01-services/machine-learning.svg"
                 alt="machine-learning">
            <div class="cell-caption">Машинное обучение</div>
            <div class="cell-value">
              Tensor Flow, Keras, OpenCV, Scikit-learn, Theano, CUDA, PyTorch
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
