.section-3-01-services {
  .h2-mod-padding {
    padding-left: 98px;

    @include for-sm-down {
      padding-left: 65px;
    }
  }

  .grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: 60px;

    @include for-lg-down {
      grid-template-columns: 1fr 1fr;
    }

    @include for-sm-down {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  }

  .cell-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 2px 10px rgba(64, 0, 255, 0.2);
    border-radius: 10px;
    padding: 50px 30px;

    @include for-lg-down {
      padding: 40px 30px;
    }

    @include for-xs-down {
      padding: 26px 30px;
    }
  }

  .cell-image {
    height: 80px;
    margin-bottom: 30px;

    @include for-xs-down {
      height: 60px;
      margin-bottom: 16px;
    }
  }

  .cell-caption {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: .15px;
    margin-bottom: 20px;

    @include for-xs-down {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 10px;
    }
  }

  .cell-value {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: .15px;
    color: #878787;
    margin-bottom: 10px;

    @include for-xs-down {
      font-size: 14px;
      line-height: 24px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}