<section class="section-11-how-contact" id="section-11-how-contact">
  <div class="gl-page-content">
    <div class="gl-main-section">

      <div class="gl-h2-wrapper mod-margin-h2-wrapper">
        <div class="gl-h2-number gl-number-gradient-color gl-gotham-fonts">06</div>
        <h2 class="gl-gotham-fonts">Как связаться?</h2>
      </div>

      <div class="gl-marker-wrapper">
        <div class="gl-marker gl-md-hide"></div>
        <div class="marker-content">
          <div class="caption-wrapper">
            <div class="gl-marker gl-md-show"></div>
            <div class="caption gl-text-size fl-24 xs-18">Напишите нам</div>
          </div>
          <div class="value gl-text-size fl-16 xs-14">
            Мы получим вашу заявку и в течение суток отправим предложение с примерной оценкой стоимости разработки и
            уточняющими вопросами. После этого созвонимся, обсудим цели проекта, требования к нему. И начнем работу.
          </div>

          <form class="form-wrapper">
            <label class="input-wrapper">
              <input class="input" type="text" placeholder="Номер телефона и Ваше имя">
            </label>
            <button class="btn gl-main-btn" type="button">
              <span class="btn-text">отправить</span>
            </button>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>
