.section-11-how-contact {

  .caption-wrapper {
    display: flex;
    margin-bottom: 26px;

    @include for-sm-down {
      margin-bottom: 20px;
    }
  }

  .value {
    margin-bottom: 76px;

    @include for-lg-down {
      margin-bottom: 60px;
    }

    @include for-sm-down {
      margin-bottom: 50px;
    }
  }

  .form-wrapper {
    display: flex;

    @include for-sm-down {
      flex-direction: column;
    }
  }

  .input-wrapper {
    flex: 1 1 100%;
    width: 100%;
    margin-right: 50px;

    @include for-lg-down {
      margin-right: 30px;
    }

    @include for-sm-down {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  .input {
    width: 100%;
    height: 50px;
    padding: 11px 28px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(64, 0, 255, 0.2);

    &::placeholder {
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.5px;
      color: #bdbdbd;

      @include for-sm-down {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
      }
    }

    @include for-sm-down {
      margin-right: 0;
      padding: 12px;
    }
  }

  .btn {
    flex: 0 0 auto;
    justify-content: center;
    width: 230px;
    height: 50px;

    @include for-lg-down {
      width: 184px;
    }

    @include for-xxs-down {
      width: 100%;
    }
  }
}