@font-face {
  font-family: 'Gotham';
  src: url('gotham-medium.otf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Gotham';
  src: url('./gotham-bold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Gotham';
  src: url('./gotham-black.ttf');
  font-style: normal;
  font-weight: 800;
}
