<section class="section-2-develop-it-products" id="section-1-header">
  <div class="gl-page-content">
    <div class="section">
      <h1 class="gl-gotham-fonts">Разрабатываем <span class="gl-nowrap">IT-продукты</span> для бизнеса</h1>
      <div class="gl-marker-wrapper mod-marker-wrapper">
        <div class="gl-marker"></div>
        <div class="marker-content">
          <p class="text-margin gl-text-size fl-18 xs-16">
            Доведем ваш продукт от идеи до полноценного <span class="gl-nowrap">IT-сервиса.</span>
            Совместим технические знания с требованиями бизнеса в вашем проекте. Быстро. Инновационно. Технологично.
          </p>
          <button class="btn gl-main-btn" type="button">
            <span class="btn-text">Смотреть Showreel</span>
            <img class="btn-img" src="assets/icons/section-2-develop-it-products/play.svg" alt="play">
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
