.section-2-develop-it-products {
  .section{
    padding-top: 114px;
    padding-bottom: 160px;
    max-width: 966px;

    @include for-lg-down {
      padding-top: 104px;
      padding-bottom: 218px;
      max-width: 640px;
    }

    @include for-sm-down {
      padding-top: 74px;
      padding-bottom: 140px;
    }
  }

  .mod-marker-wrapper {
    max-width: 580px;
  }

  .text-margin {
    margin-bottom: 45px;

    @include for-sm-down {
      margin-bottom: 40px;
    }
  }

  .btn {
    position: relative;
    justify-content: center;
  }

  .btn-text {
    margin-right: 15px;

    @include for-sm-down {
      margin-right: 10px;
    }
  }
}