<section class="section-9-04-digitized-facts" id="section-9-04-digitized-facts">
  <div class="gl-page-content">
    <div class="gl-main-section">

      <div class="gl-h2-wrapper">
        <span class="gl-h2-number gl-number-gradient-color gl-gotham-fonts">04</span>
        <h2 class="gl-gotham-fonts">Оцифрованные факты</h2>
      </div>

      <div class="gl-marker-wrapper">
        <div class="gl-marker"></div>
        <div class="gl-text-size fl-22 lg-18 xs-16">
          Нам можно доверять. 3 года упорного труда, любви к клиентам и проектам приносят свои плоды:
        </div>
      </div>

      <div class="grid-wrapper">
        <div class="grid">
          <div class="cell-wrapper">
            <div class="gl-number-gradient-color cell-number gl-gotham-fonts">40k</div>
            <div class="cell-value">задач выполнено</div>
          </div>
          <div class="cell-wrapper">
            <div class="gl-number-gradient-color cell-number gl-gotham-fonts">3</div>
            <div class="cell-value">социальных проекта</div>
          </div>
          <div class="cell-wrapper">
            <div class="gl-number-gradient-color cell-number gl-gotham-fonts">100+</div>
            <div class="cell-value">упоминаний в СМИ</div>
          </div>
          <div class="cell-wrapper">
            <div class="gl-number-gradient-color cell-number gl-gotham-fonts">6M</div>
            <div class="cell-value">строк кода</div>
          </div>
          <div class="cell-wrapper">
            <div class="gl-number-gradient-color cell-number gl-gotham-fonts">20k</div>
            <div class="cell-value">регистраций за 1 день на нашей платформе</div>
          </div>
          <div class="cell-wrapper">
            <div class="gl-number-gradient-color cell-number gl-gotham-fonts">63k</div>
            <div class="cell-value">часов разработки, дизайна и менеджмента</div>
          </div>
          <div class="cell-wrapper">
            <div class="gl-number-gradient-color cell-number gl-gotham-fonts">40+</div>
            <div class="cell-value">IT-продуктов создано нашей командой</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>