.section-9-04-digitized-facts {
  .grid-wrapper {
    margin-top: 70px;
    overflow: hidden;

    @include for-sm-down {
      margin-top: 60px;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: -2px;

    @include for-lg-down {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include for-md-down {
      grid-template-columns: 1fr 1fr ;
      margin: -1px;
    }

    @include for-sm-down {
      margin: -18px -9px;
    }
  }

  .cell-wrapper {
    padding: 15px 40px;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid $lite-gray-border;
    border-bottom: 1px solid $lite-gray-border;

    @include for-md-down {
      padding: 18px 10px;
    }
  }

  .cell-number {
    font-weight: 900;
    font-size: 70px;
    line-height: 84px;
    letter-spacing: -0.5px;
    opacity: 0.2;
    margin-bottom: 14px;

    @include for-xs-down {
      font-size: 36px;
      line-height: 43px;
      margin-bottom: 5px;
    }
  }

  .cell-value {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  @include for-xs-down {
    font-size: 10px;
    line-height: 16px;
  }
}