<section class="section-1-header" id="section-1-header">
  <div class="gl-page-content">
    <div class="section">
      <div class="logo-wrapper">
        <img class="logo" alt="Technaxis" src='assets/icons/section-1-header/logo.svg'>
        <div class="logo-text">агенство продуктовой разработки</div>
      </div>

      <div class="menu-item-wrapper gl-lg-hide">
        <div class="links-wrapper ">
          <a href="" class="menu-item">Портфолио</a>
          <a href="" class="menu-item">Услуги</a>
          <a href="" class="menu-item">Контакты</a>
        </div>
        <div class="number-wrapper gl-lg-hide">
          <a href="tel:88432122072" class="menu-item">+ 7 (843) 212-20-72</a>
        </div>
        <div class="language-wrapper gl-lg-hide">
          <button class="item-language active">Ru</button>
          <button class="item-language">En</button>
        </div>
      </div>

      <button type="button" class="btn-burger-wrapper gl-lg-show">
        <span class="burger"></span>
      </button>
    </div>
  </div>
</section>
