.section-1-header {
  .section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 10px;
  }

  .logo-wrapper {
    cursor: pointer;
  }

  .logo {
    height: 22px;
    margin-bottom: 4px;

    @include for-sm-down {
      height: 12px;
      margin-bottom: 8px;
    }
  }

  .logo-text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #bdbdbd;

    @include for-sm-down {
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.4px;
      color: #aeaeae;
    }
  }

  .menu-item-wrapper {
    display: flex;
  }

  .menu-item {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin-left: 50px;

    &:first-child {
      margin-left: 0;
    }
  }

  .number-wrapper {
    margin-right: 50px;
    margin-left: 82px;

    .menu-item {
      text-decoration: none;
      margin-left: 0;
    }
  }

  .item-language {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #bdbdbd;
    transition: 300ms;
    border-bottom: 2px solid transparent;
    text-decoration: none;

    &:last-child {
      margin-left: 15px;
    }

    &.active {
      color: $main-text;
      border-bottom: 2px solid #000000;
    }
  }

  .btn-burger-wrapper {
    width: 24px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:after, &:before {
      content: '';
      position: absolute;
      width: 18px;
      height: 2px;
      background-color: #000000;
      border-radius: 4px;
    }

    &:after {
      top: 6px;
      left: 3px;
    }

    &:before {
      bottom: 6px;
      left: 3px;
    }
  }

  .burger {
    width: 18px;
    height: 2px;
    background-color: #000000;
    border-radius: 4px;
  }
}
