<section class="section-5-02-how-different" id="section-5-02-how-different">
  <div class="gl-page-content">
    <div class="gl-main-section">

      <div class="gl-h2-wrapper">
        <span class="gl-h2-number gl-number-gradient-color gl-gotham-fonts">02</span>
        <h2 class="gl-gotham-fonts">Чем отличаемся?</h2>
      </div>

      <div class="gl-marker-wrapper">
        <div class="gl-marker"></div>
        <div class="gl-text-size fl-22 lg-18 xs-16">
          Мы понимаем — вам нужны не строчки кода, а запущенный, работающий без глюков
          <span class="gl-nowrap">IT-продукт.</span> Нас отличает:
        </div>
      </div>

      <div class="grid-wrapper">
        <div class="grid">
          <div class="cell-wrapper">
            <div class=" ">
              <img class="caption-image" src="assets/icons/section-5-02-how-different/specialization.svg"
                   alt="specialization">
              <span class="caption-text">Специализация</span>
            </div>
            <div class="gl-text-size fl-16 xs-14">
              Мы работаем только c IT-продуктами
            </div>
          </div>
          <div class="cell-wrapper">
            <div class="cell-caption">
              <img class="caption-image" src="assets/icons/section-5-02-how-different/expertise.svg" alt="expertise">
              <span class="caption-text">Экспертиза</span>
            </div>
            <div class="gl-text-size fl-16 xs-14">
              Обращаясь‌ ‌к‌ ‌нам‌ ‌за‌ ‌разработкой,‌ вы‌ ‌можете‌ ‌быть‌ ‌уверены,‌ ‌что‌ ‌получаете‌ ‌топовую‌
              ‌экспертизу‌ ‌вовремя‌
            </div>
          </div>
          <div class="cell-wrapper">
            <div class="cell-caption">
              <img class="caption-image" src="assets/icons/section-5-02-how-different/timeliness.svg" alt="timeliness">
              <span class="caption-text">Своевременность</span>
            </div>
            <div class="gl-text-size fl-16 xs-14">
              Да, мы знаем, что такое дедлайны, и мы знаем, что это боль рынка, поэтому для себя мы решили что будем
              прикладывать невероятные усилия, чтобы реализовывать проекты вовремя
            </div>
          </div>
          <div class="cell-wrapper">
            <div class="cell-caption">
              <img class="caption-image" src="assets/icons/section-5-02-how-different/speed.svg" alt="speed">
              <span class="caption-text">Скорость</span>
            </div>
            <div class="gl-text-size fl-16 xs-14">
              Мы‌ ‌ценим‌ ‌ваше‌ ‌время,‌ ‌поэтому‌ ‌делаем‌ ‌первую‌ ‌полноценную‌ ‌версию‌ ‌продукта‌ ‌за‌ ‌1,5-2‌
              ‌месяца‌ ‌и‌ ‌вы‌ ‌уже‌ ‌можете‌ ‌выводить‌ его ‌на‌ ‌рынок‌
            </div>
          </div>
          <div class="cell-wrapper">
            <div class="cell-caption">
              <img class="caption-image" src="assets/icons/section-5-02-how-different/accuracy.svg" alt="accuracy">
              <span class="caption-text">Точность</span>
            </div>
            <div class="gl-text-size fl-16 xs-14">
              Мы‌ ‌классные‌ ‌в‌ ‌проектном‌ ‌менеджменте.‌ ‌Нам‌ ‌пришлось‌ ‌пройти‌ ‌десятки‌ ‌курсов‌ ‌ и‌
              ‌прочитать‌ ‌сотни‌ ‌книг
            </div>
          </div>
          <div class="cell-wrapper">
            <div class="cell-caption">
              <img class="caption-image" src="assets/icons/section-5-02-how-different/manufacturability.svg"
                   alt="manufacturability">
              <span class="caption-text">Технологичность</span>
            </div>
            <div class="gl-text-size fl-16 xs-14">
              Можем‌ ‌реализовать‌ ‌проекты‌ ‌с‌ ‌computer‌ ‌vision,‌ ‌machine‌ ‌learning,‌ ‌hardware‌
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
