.section-5-02-how-different {
  .grid-wrapper {
    margin-top: 60px;
    overflow: hidden;

    @include for-sm-down {
      margin-top: 40px;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: -2px;

    @include for-lg-down {
      grid-template-columns: 1fr 1fr;
    }

    @include for-md-down {
      grid-template-columns: 1fr;
      margin: -2px 0;
    }
  }

  .cell-wrapper {
    padding: 40px 36px;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid $lite-gray-border;
    border-bottom: 1px solid $lite-gray-border;

    @include for-lg-down {
      padding: 30px 20px;
      min-width: 230px;
    }

    @include for-md-down {
      border-left: none;
      border-right: none;
      padding: 30px 0;
    }
  }

  .cell-caption {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @include for-lg-down {
      margin-bottom: 16px;
    }
  }

  .caption-image {
    height: 40px;
    margin-right: 30px;

    @include for-xs-down {
      height: 32px;
    }
  }

  .caption-text {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;

    @include for-xs-down {
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.5px;
    }
  }

  .cell-value {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;

    @include for-xs-down {
      font-size: 14px;
    }
  }
}