.section-6-photo-slider {
  .section {
    padding: 30px 0 38px;
  }

  .scroll-wrapper {
    overflow: hidden;
  }

  .images-wrapper {
    padding-bottom: 100px;
    margin-bottom: -100px;
    overflow-x: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
  }

  .image {
    height: 550px;

    @include for-bg-down {
      height: 420px;
    }

    @include for-sm-down {
      height: 280px;
    }

    @include for-xxs-down {
      height: 200px;
    }
  }

  .number-photo-wrapper {
    margin-top: 57px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include for-sm-down {
      margin-top: 40px;
    }
  }

  .arrow-image {
    height: 12px;
  }

  .number-wrapper {
    margin: 0 20px;
  }

  .number {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: .5px;
    color: #bcbcbc;

    @include for-sm-down {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.4px;
    }

    &.current-num {
      color: #2c2c2c;
    }
  }
}