<section class="section-6-photo-slider" id="section-6-photo-slider">
  <div class="section">
    <div class="scroll-wrapper">
      <div class="images-wrapper">
        <img class="image" src="assets/images/section-6-photo-slider/photo-1.jpg" alt="photo 1">
        <img class="image" src="assets/images/section-6-photo-slider/photo-2.jpg" alt="photo 2">
        <img class="image" src="assets/images/section-6-photo-slider/photo-3.jpg" alt="photo 3">
        <img class="image" src="assets/images/section-6-photo-slider/photo-4.jpg" alt="photo 4">
        <img class="image" src="assets/images/section-6-photo-slider/photo-5.jpg" alt="photo 5">
      </div>
    </div>


    <div class="number-photo-wrapper">
      <img class="arrow-image" src="assets/icons/section-6-photo-slider/back-arrow.svg" alt="back">
      <div class="number-wrapper">
        <span class="number current-num">1 /</span>
        <span class="number">3</span>
      </div>
      <img class="arrow-image" src="assets/icons/section-6-photo-slider/follow-arrow.svg" alt="follow">
    </div>
  </div>
</section>
